.orderImage{
    width: 120px;
}

.orderImage img{
    width: 100%;
}

.reviewButton{
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #e4d9ff;
    color: #6D31F5;
    font-size: 13px;
}

.orderParagraph{
    font-size: 13px;
}

.trackingParagraph{
    font-size: 12px;
}
.trackingHeader{
    font-size: 14px;
}

.confirmIcon{
    color: #098342;
}
body{
    background-color: #F3F3F3;
}
@media screen and (max-width: 480px) {
    .reviewButton {
        padding: 3px 6px;
        font-size: 10px;
    }
  }