/* main-cart-section */
.main-cart{
    width: 700px;
    margin: auto;
}

.cart-image img{
    width: 100px;
    height: 80px;
}

.item-title{
    font-size: 13px;   
}
.item-paragraph{
    font-size: 12px;
}


.btn-one{
    padding: 1px 8px;
}
.btn-space{
    border: 1px solid black;
    border-radius: 5px;
}



@media screen and (max-width: 484px) {
    .main-cart {
      width: 100%;
     
      margin: auto;

    }
  } 
 @media screen and (max-width: 390px) {
    .main-cart {
      width: 100%;
     
      margin: auto;

    }
  } 





/* quantity-sention */
.total-quantity{
    width: 600px;
    margin: auto;
}

.quality-title{
    font-size: 16px;
}

.quality-paragraph{
    font-size: 11px;
}

@media screen and (max-width: 484px) {
    .total-quantity {
      width: 100%;
     
      margin: auto;

    }
  } 




  /* checkout section */
  .checkout{
    width: 700px;
    margin: auto;
  }

  @media screen and (max-width: 484px) {
    .checkout {
      width: 100%;
      margin: auto;

    }
  } 

